/*seccion*/

.llamada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-image: url(../img/designshd/edificio-1.png);
    background-size: cover;

    padding-top: 5rem;
    padding-bottom: 5rem;
}


/*llamada texto*/
.llamada-text{
    width: 50%
}

.titulo-principal{
    text-align: left;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.parrafo{
    text-align: left;
    margin-top: 1rem;
    font-size: x-large;
}

/*formulario*/
.contacto-home{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 52, 52, 0.7);
    box-sizing: border-box;
    border: 1px solid #343434;
    border-radius: 10px;
}

.titulo-form{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
    
}

.form-contacto{
    border-radius: 10px;
    padding: 0px 35px 35px 35px;   
    text-align: left; 
}

.form-title1{
    text-align: left;
    font-family: sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;
}

.form-input1{
    font-size: large;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    
}

.btn-enviar1{
    font-family: sans-serif;
    font-size: large;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: dimgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
